:root {
    --primary: #ef434f;
    --primary-dark: color-mix(in srgb, var(--primary) 80%, black);
    --secondary: #201c1d;
    --tertiary-light: #e2ddda;
    --tertiary: #c0b5b1;
    --tertiary-dark: #3f3b3a;
    --grey-light: #ececec;
}
