* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.slide_video {
    background-image: url(../assets/img/festival/bg-video.jpg);
    width: 1486.4px;
    height: 490.8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 105px;
}

.title h1 {
    color: #e2ddda;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Tungsten_semibold';
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 90px;
    padding-top: 40px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 400px;
    height: 200px;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.button button {
    width: 150px;
    height: 40px;
    background-color: #201c1d;
    color: #ef434f;
    font-family: 'Titillium_bold';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button button img {
    height: 75%;
    width: auto;
}


@font-face {
    font-family: 'Tungsten_semibold';
    src: url('../assets/fonts/Tungsten-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium_bold';
    src: url('../assets/fonts/titillium-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}