.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;

    & .col-3 {
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 750px;
    }
    @media screen and (min-width: 992px) {
        width: 970px;
    }
}
